<div class="ui link cards" style="margin-left:auto; margin-right:auto">
  <% @startups.each do |startup|%>    
    <%= link_to startup_path(startup), style:"text-decoration: none" do %>
      <div class="card" style="margin-left:auto; margin-right:auto">
        <div class="image text-center">
          <img src=<%=startup.logo%> class=" startup-avatar">
        </div>
        <div class="content">
          <div class="header"><%= startup.name %></div>
          <div class="meta">
            <a><%=startup.founded%></a>
          </div>
          <div class="description">
            <%= startup.pitch %>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <%= startup.founded %>
          </span>
          <span>
             <i class="users icon"></i>
            <%= startup.number_of_employees %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= will_paginate @startups, :page_links => false, class:'apple_pagination mt-2' %>

