<div class="container">
  <div class="row">
    <% @startups.each do |startup|%>
    <div class="col-lg-6 index-card-position">
      <%= link_to startup_path(startup), style:"text-decoration: none" do %>
        <div class="card">
          <div class="additional">
            <div class="user-card">
              <div class="level index-card-center">
                <%=startup.market%>
              </div>
              <div class="points index-card-center">
                <%= startup.number_of_employees %>
              </div>
              <img src=<%=startup.logo%> class="startup-avatar index-card-center">
            </div>
            <div class="more-info">
              <h2><%= startup.name %></h2>
              <div class="coords">
                <span>Group Name</span>
                <span>Joined <%=startup.founded%> </span>
              </div>
              <div class="coords">
                <span>Position/Role</span>
                <span>City, Country</span>
              </div>
              <div class="stats">
                <div>
                  <%= link_to "http://#{startup.facebook}", target: "_blank" do %>
                    <i class="fab fa-facebook-square"></i>
                  <% end %>
                </div>
                <div>
                  <%= link_to "http://#{startup.youtube}", target: "_blank" do %>
                    <i class="fab fa-youtube"></i>
                  <% end %>
                </div>
                <div>
                  <%= link_to "http://#{startup.instagram}", target: "_blank" do %>
                    <i class="fab fa-instagram"></i>
                  <% end %>
                </div>
                <div>
                  <%= link_to "http://#{startup.linkedin}", target: "_blank" do %>
                    <i class="fab fa-linkedin"></i>
                  <% end %>
                </div>
                <div>
                  <%= link_to "http://#{startup.linkedin}", target: "_blank" do %>
                    <i class="fab fa-twitter-square"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="general">
            <h2><%= startup.name %></h2>
            <p><%= startup.pitch %></p>
            <span class="more">Mouse over the card for more info</span>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>