<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-4 text-center">
      <img src=<%=@startup.logo%> class="startup-avatar">
      <h1><%= @startup.name%></h1>
      <p> <%= link_to 'website', @startup.website, target: "_blank" %> </p>
      <div class="social-networks">
        <% if @facebook %>
          <%= link_to @facebook, target: "_blank" do %>
            <i class="show-social-network fab fa-facebook-square"></i>
          <% end %>
        <% end %>
        <% if @youtube %>
          <%= link_to @youtube, target: "_blank" do %>
            <i class="show-social-network fab fa-youtube"></i>
          <% end %>
        <% end %>
        <% if @instagram %>
          <%= link_to @instagram, target: "_blank" do %>
            <i class="show-social-network fab fa-instagram"></i>
          <% end %>
        <% end %>
        <% if @linkedin %>
          <%= link_to @linkedin, target: "_blank" do %>
            <i class="show-social-network fab fa-linkedin"></i>
          <% end %>
        <% end %>
        <% if @twitter %>
          <%= link_to @twitter, target: "_blank" do %>
            <i class="show-social-network fab fa-twitter-square"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-8  ui card p-3">
      pitch: <p> <%= @startup.pitch%> </p>
      about: <p> <%= @startup.about%> </p>
      market: <p> <%= @startup.market%> </p>
      number of employees: <p> <%= @startup.number_of_employees%> </p>
      founded: <p> <%= @startup.founded%> </p>
    </div>
  </div>
  <h2>People</h2>
  <div class="ui cards" style="margin-left:auto; margin-right:auto">
    <% @people.each do |person|%>
      <div class="card" style="margin-left:auto; margin-right:auto">
        <div class="content">
          <%# <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"> %>
          <div class="header">
            <%= person.name %>
          </div>
          <% if person.linkedin %>
            <div class="meta">
              <%= link_to person.linkedin, target: "_blank" do %>
                <i class="show-social-network fab fa-linkedin"></i>
              <% end %>
            </div>
          <% end %>
          <div class="description">
            <%= person.position %>
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Other involvements</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h2>Investors</h2>
  <div class="ui cards" style="margin-left:auto; margin-right:auto">
    <% @investors.each do |investor|%>
      <div class="card" style="margin-left:auto; margin-right:auto">
        <div class="content">
          <%# <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"> %>
          <div class="header">
            <%= investor.name %> <%= investor.last_name %>
          </div>
          <div class="meta">
            <%= investor.linkedin %>
          </div>
          <div class="description">
            <%= @investments.find_by(investor: investor, startup: @startup).amount %>
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic violet button">Other involvements</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>