<div class="container">
  <li>name: <%= @startup.name%></li>
  <li>website: <%= @startup.website%></li>
  <li><%= @startup.logo%></li>
  <li>pitch: <%= @startup.pitch%></li>
  <li>about: <%= @startup.about%></li>
  <li>founded: <%= @startup.founded%></li>
  <li>number of employees: <%= @startup.number_of_employees%></li>
  <li>facebook: <%= @startup.facebook%></li>
  <li>twitter: <%= @startup.twitter%></li>
  <li>instagram: <%= @startup.instagram%></li>
  <li>youtube: <%= @startup.youtube%></li>
  <li>linkedin: <%= @startup.linkedin%></li>
  <li>market: <%= @startup.market%></li>

  <% @people.each do |person|%>
    <div class="card">
      <%= person.name %>
      <%= person.last_name %>
      <%= person.linkedin %>
    </div>
  <% end %>
invest
  <% @investors.each do |investor|%>
    <div class="card">
      <%= investor.name %>
      <%= investor.last_name %>
      <%= investor.linkedin %>
    </div>
  <% end %>
</div>