<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Startup Box</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
      <%= link_to :root, class: "navbar-brand" do %>
        <%= image_tag "https://meloninnovation.com/img/favicon.ico", style: "height:3rem" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", :root , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Startups", startups_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "TEST", testing_path , class: "nav-link" %>
          </li>
        </ul>
          <form class="form-inline my-2 my-lg-0" action="/startups" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <input value="" autocomplete="off" class="form-control mr-sm-2" required="required" aria-required="true" type="text" name="search[name]" id="search_name" placeholder="Search" style="max-width:50vw; margin-right:0.5rem"/>
            <i class="search link icon"></i>
          </form>
      </div>
    </nav>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

