<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Startup Box</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="ui stackable secondary pointing menu">
      <%= link_to "Home", :root , class: "item" %>
      <%= link_to "Startups", startups_path , class: "item" %>
      <div class="right menu">
        <div class="item">
          <form class="" action="/startups" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <div class="ui transparent icon input">
              <input value="" class="string required" required="required" aria-required="true" type="text" name="search[name]" id="search_name" placeholder="Search"/>
              <i class="search link icon"></i>
            </div>   
          </form>
        </div>
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

